<html>
<Head>
<title>Tambourine</title>
</head>

<body>
<%= form_for @illust,:url => {:action => :create} do |f| %>
  <div>キーワード<%= f.text_field :keyword %></div>
  <div><%= f.submit "検索" %></div>
<% end %>

<br>

<img src="<%= @illust.url%>"NAME="SP" style="width:auto;height:600px;position=center">
<SCRIPT language="javaScript">
  <!--
      var NO=1;
      img=new Array(<%= @illusts.size %>);
      <%
         count = 0
         @illusts.each do |i|
         %>
      img[<%= count %>]="<%= i.url %>";
      <%
         count += 1
         end
        %>
      UP();
      function UP(){
      setTimeout("UP()",5000);
      document.SP.src=img[NO];
      NO=NO+1
      if(NO > <%= @illusts.size() -1 %>){NO=1;}
      }
      //-->
</SCRIPT>
</body>
</html>
