<html>
<Head>
<title>Tambourine</title>
</head>

<body>
<%= form_for @illust,:url => {:action => :create} do |f| %>
  <div><%= f.text_field :title %>:タイトル</div>
  <div><%= f.text_field :date %>:日付</div>
  <div><%= f.submit "追加" %></div>
<% end %>

<% @illusts.each do |t| %>
<div>
  <%= t.title %>
  <%= t.date %>
  <%= link_to "削除", tambourine_path(t), :method => :delete %>
</div>
<% end %>
</body>
</html>

